.url{
    width:100px;
    height:100px;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
    bottom:10px;
}
.desc{
    text-align: center;
    font-size:16px;
    color:#666;
}
.scoreContent{
    width:100%;
    text-align: center;
}
.score{
    font-size: 24px;
    color:rgb(157, 170, 3)!important;
    font-family: "Verdana";
}
.tips{
    position: fixed;
    opacity: .7;
    background-color: #cac5c5;
    border-radius: 20px;
    padding:6px;
    left:50%;
    transform: translateX(-50%);
}