.url{
    width:100px;
    height:100px;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
    bottom:10px;
}
.desc{
    text-align: center;
    font-size:16px;
    color:#666;
    font-weight: normal;
    font-family:"Microsoft YaHei";
    font-weight: bold;
}
.scoreContent{
    width:100%;
    text-align: center;
}
.score{
    font-size: 25px;
    color:#333!important;
    font-family: "Verdana";
    font-weight: bold;
}
.tips{
    position: fixed;
    opacity: .7;
    background-color: red;
    color:#fefefe;
    margin-top:5px;
    text-decoration:none;
    border-radius: 20px;
    padding:6px;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
}